body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wes-clinton {
  font-family: 'Shizuru', cursive;
}

.corey-arnell {
  font-family: 'Press Start 2P', cursive;
  -webkit-text-stroke: 1px black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #0bf709 #0068aa;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #0068aa;
}

::-webkit-scrollbar-thumb {
  background-color: #0bf709;
}

.player-cover {
  width: 20%;
}

.player-bandcamp {
  width: 40%;
  height: 40vh;
}

@media (max-width: 1000px) {
  .player-bandcamp {
    width: 55%;
    height: 29vh
  }
}

@media (max-width: 450px) {
  .player-cover {
    width: 70%
  }

  .player-bandcamp {
    width: 80%
  }
}

@media (max-width: 400px) {
  .player-bandcamp {
    width: 100%;
    height: 50vh;
  }
  .player-cover {
    width: 0%
  }
}

#custom-switch {
  background-color: #0068aa;
  border-color: transparent;
  width: 5em;
  height: 2.5em;
  margin-right: 1em;
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

#custom-switch::before {
  color: #ffffff;
  content: "W";
}

#custom-switch:checked {
  background-color: #0bf709;
  align-items: flex-start;
}

#custom-switch:checked::before {
  color: #000000;
  content: "C";
}